<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<title><%= pageTitle %></title>
		<link rel="stylesheet" href="/public/adminnn_styles.css" />
	</head>
	<body>
		<%- include('header.ejs') %>
		<main>
			<h1><%= pageTitle %></h1>

			<button onclick="window.location.href='/newmentoring'">멘토링 추가</button>
			<table>
				<thead>
					<tr>
						<th>조 이름</th>
						<th>과목</th>
						<th>멘토</th>
						<th>멘티</th>
						<% for (let week = 1; week <= 20; week++) { %>
						<th><%= week %>주차</th>
						<% } %>
					</tr>
				</thead>

				<tbody>
					<% mentoring.forEach(m => { %>
					<tr>
						<td><%= m.groupName %></td>
						<td><%= m.subject %></td>
						<td><%= m.mentor %></td>
						<td><%= m.mentee %></td>

						<% for (let week = 1; week <= 20; week++) { const status = m[`week${week}`]; %>
						<td>
							<% if (status === "패스") { %> ⏭️ <% } else if (status === "패스(자율)") { %> 😎 <% } else if (status === "미진행") { %> ❌ <% } else if (status
							=== "진행완료") { %> ✅ <% } else { %> - <% } %>
						</td>
						<% } %>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</main>
		<%- include('footer.ejs') %>
	</body>
</html>
